<h1><center>This is the login page</center></h1><br>



        <center>
        <div class="login-form">
            <%=form_tag :login, :action => "create" do %>
                <%=label_tag :username%>
                <%=text_field_tag :username%>
                <%=label_tag :password%>
                <%=password_field_tag :password%>
                
                
                <%=submit_tag "login"%>
            <% end %><br>
            <%= button_to "Log in with Google", '/auth/google_oauth2'  %>
        </div>
        </center>